/* Container styling for the About section */
.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    max-width: 100%;
    text-align: left;
    padding: 6% 4% 3% 8% !important;
    background-color: #1d2639;
    margin: auto;
}

/* Profile picture styles */
.profile-picture-container {
    flex-shrink: 0;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%; /* Circular shape */
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image fits within the circular container */
}

/* Headings and text styles */
h1, h2 {
    margin: 0;
    font-family: 'Chocolate', sans-serif; /* Apply the new font */
}

.intro-text, .typewriter-text {
    font-weight: bold;
    color: white;
    font-size: 1.2em;
}

.intro-name {
    font-weight: bold;
    color: white;
    font-size: 1.6em;
    margin: 1% 1% 0% 0%;
}

/* Spacing between introductory text and typewriter effect */
.spacing {
    margin: 0 5px;
}

/* Primary button styling */
.primary-button {
    border: none;
    background: linear-gradient(45deg, #FC4D03, #FF6F61, #FFB6C1);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 14px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    border: 2px solid transparent;
    animation: bounce 1s infinite, moveRandomly 5s infinite;
    margin: 3% 0% 0% 19%;
}

    .primary-button:hover {
        background: linear-gradient(45deg, #FF6F61, #FC4D03, #FFB6C1);
        transform: scale(1.05);
    }

/* Styling for the introduction text */
.about-introduction {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 42px;
    color: #3E2723; /* Dark chocolate color */
    font-family: 'Chocolate', sans-serif; /* Apply the new font */
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column; /* Stack elements vertically */
        padding: 4% 5%; /* Reduce padding for smaller screens */
        text-align: center; /* Center align text */
        margin-top: 0; /* Reset margin-top for mobile */
    }

    .profile-picture-container {
        margin: 7vh 2vh 3vh 1vh;
        width: 180px; /* Adjust width */
        height: 180px; /* Adjust height */
    }

    .intro-name {
        font-size: 1.3em; /* Adjusted for mobile */
        margin: 1% auto; /* Center align */
    }

    .about-introduction {
        font-size: 16px; /* Adjusted for mobile */
        line-height: 28px;
    }

    .primary-button {
        font-size: 14px;
        padding: 5px 12px;
    }

    .intro-text, .typewriter-text {
        font-size: 0.9em;
    }

    .typewriter-wrapper {
        margin-left: 22px;
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .intro-name {
        font-size: 1.1em; /* Further reduce font size for very small screens */
    }

    .typewriter-text {
        font-size: 0.9em;
    }

    .primary-button {
        font-size: 14px;
        padding: 3px 14px;
        margin: 0vh 2vh 0vh 0vh;
    }
}

/* Word transition */
.word {
    transition: color 0.5s ease;
}

    .word:hover {
        color: #D7CCC8; /* Lighter chocolate color for hover */
        text-shadow: 0 0 10px rgba(255, 204, 153, 0.8); /* Optional glow effect */
    }

/* Fireworks styles */
.fireworks-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allow clicks to pass through */
    overflow: hidden; /* Hide overflow */
}

.firework,
.firework::before,
.firework::after {
    --initialSize: 0.5vmin;
    --finalSize: 45vmin;
    --particleSize: 0.2vmin;
    --y: -30vmin;
    --x: -50%;
    --initialY: 60vmin;
    content: "";
    animation: firework 2s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, var(--y));
    width: var(--initialSize);
    aspect-ratio: 1;
    background: radial-gradient(circle, yellow var(--particleSize), #0000 0) 50% 0%, radial-gradient(circle, khaki var(--particleSize), #0000 0) 100% 50%, radial-gradient(circle, white var(--particleSize), #0000 0) 50% 100%, radial-gradient(circle, lime var(--particleSize), #0000 0) 0% 50%, radial-gradient(circle, gold var(--particleSize), #0000 0) 80% 90%, radial-gradient(circle, mediumseagreen var(--particleSize), #0000 0) 95% 90%;
    background-size: var(--initialSize) var(--initialSize);
    background-repeat: no-repeat;
}

    .firework:nth-child(2) {
        --x: 30vmin;
        animation-delay: -0.25s;
    }

    .firework:nth-child(3) {
        --x: -30vmin;
        --y: -50vmin;
        animation-delay: -0.4s;
    }

@keyframes firework {
    0% {
        transform: translate(var(--x), var(--initialY));
        width: var(--initialSize);
        opacity: 1;
    }

    50% {
        width: 0.5vmin;
        opacity: 1;
    }

    100% {
        width: var(--finalSize);
        opacity: 0;
    }
}

