/* src/components/Navbar.css */

/* Base styling for the navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 98%; /* Default max width for larger screens */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem 2rem;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.3s; /* Smooth transition for hiding/showing */
}

    /* Navbar visible state */
    .navbar.visible {
        top: 0;
        max-width: 100%;
    }

    /* Navbar hidden state */
    .navbar.hidden {
        top: -100px; /* Adjust this value to hide the navbar off-screen */
    }

/* Styling for navigation links */
.nav-links {
    display: flex; /* Show links normally on desktop */
    list-style: none;
    margin: 0;
    padding: 0;
}

    .nav-links li {
        margin: 0 10px; /* Horizontal margin for desktop */
    }

/* Styling for the hamburger menu */
.hamburger {
    display: block; /* Show hamburger on mobile */
    cursor: pointer;
}

/* Styling for the outline button */
.outline-button {
    border: 2px solid #FC4D03;
    background-color: transparent;
    color: #FC4D03;
    padding: 3px 9px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

    .outline-button:hover {
        background-color: #FC4D03; /* Background color on hover */
        color: white; /* Text color on hover */
    }

/* Media query for mobile view */
@media (max-width: 768px) {
    .navbar {
        max-width: 100%;
        left: 50%;
    }

    .nav-links {
        display: none; /* Hide links by default */
        flex-direction: column; /* Stack links vertically */
        position: absolute; /* Position the links dropdown */
        top: 60px; /* Adjust based on your navbar height */
        left: 0;
        right: 0;
        background-color: #333; /* Background color for dropdown */
        z-index: 100;
    }

        .nav-links.active {
            display: flex; /* Show links when active */
        }

    .hamburger {
        display: block; /* Show hamburger on mobile */
    }
}

/* Add styles for desktop view */
@media (min-width: 769px) {
    .hamburger {
        display: none; /* Hide hamburger on desktop */
    }
}
