/* src/css/skills.css */

.skills-container {
    padding: 20px;
    background-color: #1d2639;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline-item {
    position: relative;
    margin: 20px 0;
    padding-left: 40px;
}

    .timeline-item:before {
        content: '';
        position: absolute;
        left: 15px;
        top: 0;
        width: 10px;
        height: 10px;
        background-color: #FC4D03; /* Change to desired color */
        border-radius: 50%;
    }

.timeline-content {
    background-color: #1b2a4c !important;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    transition: max-height 0.3s ease;
    overflow: hidden;
    max-height: 150px;
    margin-bottom: 10px;
    padding-bottom: 1rem;
    width: 100%;
    max-height: 388px !important;
}
.skill-items-container {
    margin-top: 10px;
}

.skill-item-card {
    margin-bottom: 10px;
}

.tools-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tool-tile {
    background-color: #512a2ac2;
    padding: 10px;
    border-radius: 17px;
}
