
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 1rem 2rem;
    z-index: 100;
}

.nav-links {
    display: flex;
    list-style: none;
}

    .nav-links li {
        margin: 0 1rem;
    }

    .nav-links a {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

.github-icon {
    color: white;
}

.section {
    padding: 100px 20px;
    min-height: 100vh;
}

.about-section {
    background-color: #f4f4f4;
}

.skills-section {
    background-color: #e4e4e4;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
    }
}

.about-container {
    text-align: center;
    padding: 20px;
}

h1, h2 {
    margin: 0;
    font-family: 'Arial', sans-serif;

}

.typewriter-text {
    font-weight: bold;
    color: #FC4D03; /* Customize color as needed */
}

/* Common color variables */
:root {
    --text-color: #dbe1e7; /* Default light mode text color */
    --background-color: #ffffff; /* Default light mode background color */
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: #dbe1e7;
        --background-color: #ffffff;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #ffffff; /* Dark mode text color */
        --background-color: #1d2639; /* Dark mode background color */
    }
}

/* Applying the colors */
body {
    color: var(--text-color);
    background-color: var(--background-color);
}
.h3, h3 {
    font-size: 1rem;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.h4, h4 {
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
}

h1, h2, .about-introduction {
    font-family: 'Chocolate', sans-serif; /* Apply the new font */
}
